
/* balanceSection.css */
.balance-section {
    width: 100%;
    max-width: 343px;
    background: linear-gradient(135deg, #3875F6, #4d9eff);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    padding: 15px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .balance-section::before,
  .balance-section::after {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    z-index: 1;
  }
  
  .balance-section .extra-circle {
    width: 65px;
    height: 65px;
    top: 23px;
    left: -36px;
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
  }
  
  .balance-section::before {
    width: 170px;
    height: 170px;
    top: 72px;
    left: -59px;
  }
  
  .balance-section::after {
    width: 130px;
    height: 130px;
    top: -50px;
    right: -50px;
  }
  
  .balance-info {
    font-size: 18px;
  }
  
  .balance-info h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .withdraw-button {
    background-color: #ffffff;
    color: #3875F6;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 2;
  }
  