/* profileInfo.css */
 .userName {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #172D43;
    padding-bottom: 10px;
  }
.profileInfo{
    width: 343px;
    max-width: 100%;
}
  
   .phoneNumber {
    text-align: center;
    color: #7B8190;
    font-size: 14px;
    font-weight: 400;
  }
  