.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 343px;

}

.dashboardHeader {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-between;
}

.back-button,
.edit-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0%;
}

.dashboardListContainer {
  padding: 0%;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  /* Center the container */

}
.transactionEntryWrapper{
  flex: 1;
  overflow-y: auto;
}

.input-field {
  margin-bottom: 15px;
}

.input-field label {
  font-size: 12px;
  font-weight: 600;
  color: #7B8190;
  margin-bottom: 5px;
  display: block;
}

.input-field input {
  width: 100%;
  max-width: 343px;
  border-radius: 8px;
  background-color: #F6F8FA;
  padding: 19px 24px;
  font-size: 16px;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.input-field input:focus {
  border: 1px solid #3875F6;
}

.formContainer {
  width: 100%;
  max-width: 343px;
}

@media (max-width: 376px) {
  .dashboardHeader {
    width: calc(100% - 30px);
  }
}

.tabs {
  max-width: 100%;
  width: 343px;
}