.phoneInputScreen {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.phoneInputScreenHeading {
    font-family: "Averta CY W01 Bold";
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #172D43;
}

.phoneInputScreenSubHeading {
    font-size: 14px;
    font-weight: 400;
    padding-top: 8px;
    color: #7B8190;
}

.phoneInputScreenInput {
    width: 343px;
    border-radius: 8px;
    background-color: #F6F8FA;
    border: none;
    outline: none;
    margin-top: 40px;
    margin-bottom: 15px;
    padding: 19px 24px;
    font-size: 16px;
    margin-left: 15px;
    margin-right: 15px;
    box-sizing: border-box;
}
.phoneInputScreenInput:focus {
    
    border: 1px solid #3875F6;
  }

.phoneInputScreenInput::placeholder {
    color: #3875F6;
    font-size: 16px;
    font-weight: 400;
}

.phoneInputScreenbutton {
    padding: 19px 20px;
    background-color: #3875F6;
    width: 343px;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 40px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;

}

@media (max-width: 376px) {
    .phoneInputScreenInput {
        width: calc(100% - 30px);
    }

    .phoneInputScreenbutton {
        width: calc(100% - 30px);
    }

}
