.withdrawalHistoryScreen{
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 375px;
    margin: 0 auto; /* Center the container */
}

.withdrawalHistoryScreen .amount{
    color: #40C79A;
}